 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 img {
     width: 100%;
 }

 a {
     color: inherit;
     text-decoration: none;
 }

 :root {
    --farge-hoved: #c6dcdd;
    --farge-aksent: #5797a4;
    --farge-tekst: #222222;
    --farge-hvit: #ffffff;
    --farge-rod: rgba(255, 85, 85, 0.7);
    --skygge: 0 2px 10px rgba(0,0,0,0.4);
}


 body {
     background-image: url(bilder/bakgrunnsbilde.jpg);
     background-size: cover;
     background-attachment: fixed;
     font-family: 'Inter', 'Lucida Sans', sans-serif;
     color: var(--farge-tekst);

 }

 header {
     padding: 0 40px;
     height: auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-direction: column;
     color: rgb(0, 0, 0);

 }

 .logo {
     font-size: 50px;
     margin-top: 40%;
     transform: perspective(1000px);
     transition: transform 1s;
 }

 .logo:hover {
     transform: rotateY(90deg) rotateX(90deg)
 }

 nav ul {
     list-style: none;
     display: flex;
     gap: 100px;
     align-items: center;
     margin-top: 40px;

 }

 nav a:hover {
       color: var(--farge-aksent);
 }


 footer {
    background-color: white;
    display: flex;
    gap: 80px;
    padding: 60px 40px;
}

.footer-lenker {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sign-up {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sign-up input {
    padding: 10px;
    border: 1px solid black;
    width: 300px;
}

.sign-up button {
    padding: 10px;
    background: black;
    color: white;
    cursor: pointer;
    width: 100px;
}

.tc {
    width: 300px;
    font-size: 12px;
}
