 .banner {
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 40px;
 }

 .banner h1 {
     font-size: 100px;
     padding: 10px;
     text-shadow: 0 2px 2px rgb(255, 255, 255);
     display: flex;
     gap: 20px;
     color: black;


 }

 .bold {
     font-weight: 200;
     color: var(--farge-rod);
 }

 .banner img {
     width: 120px;
 }

 .banner h2 {
     border-bottom: solid black 2px;
     color: rgb(255, 255, 255);
 }

 .banner h2:hover {
     color: rgb(0, 51, 255);
 }

 .section1 {
     height: 100vh;
     padding: 80px 40px;
     display: flex;
     flex-direction: column;
     gap: 40px;
     justify-content: center;
     margin-left: 100px;

 }

 .flagg-row {
     display: flex;
     align-items: center;
     gap: 10px;
     width: 30%;
     padding: 20px;
     background-color: white;
     box-shadow: 0 2px 10px black;
 }

 .flagg-row img {
     width: 30px;
 }

 h1 {
     font-size: 50px;
     color: var(--farge-hvit);
 }

 h2 {
     font-weight: normal;
     color: white;
 }


 .features {
     display: flex;
     flex-direction: column;
     gap: 20px;
     background: white;
     width: 400px;
     padding: 20px;
     box-shadow: 0 2px 10px black;
 }

 .feature-item {
     display: flex;
     gap: 20px;
 }

 .prikk {
     width: 10px;
     height: 10px;
     background-color: var(--farge-rod);
     border-radius: 50px;
 }

 .start-knapp {
     width: 54%;
     background-color: rgb(198, 220, 221);
     font-size: 40px;
     text-align: center;
     box-shadow: var(--farge-tekst);
     margin-top: 20px;
     border: solid white;
     padding: 10px;
     border-radius: 10px;
 }

 .start-knapp:hover {
     box-shadow: var(--farge-aksent)
 }

 .section2 {
     height: 100vh;
     display: grid;
     grid-template-columns: 2fr 1fr 1fr;
     grid-template-rows: repeat(2, 300px);
     gap: 10px;
     padding: 10px;
     margin-bottom: 400px;
 }

 .section2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

 .section2 img:nth-child(1) {
    grid-column: span 2;
 }

 .section2 img:nth-child(4){
    grid-column: span 4 ;
 }
 